body {
    background-color: #eee;
    margin: 0;
}

.game-board {
    margin: 0px auto 0 auto;
    width: 700px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    border-radius: 6px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 56px;
}

table {
    border: 1;
    table-layout: fixed;
    margin: 20px auto 0 auto;
    background-color: #fff;
}

#board td {
    height: 150px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    line-height: 0px;
}

.left {
    border-right-style: solid;
}
.middle {
    border-left-style: solid;
    border-right-style: solid;
}
.right {
    border-left-style: solid;
}
.top {
    border-bottom-style: solid;
}
.center {
    border-top-style: solid;
    border-bottom-style: solid;
}
.bottom {
    border-top-style: solid;
}

.stack {
    display: block;
     margin: 15px auto 0 auto;
     width: 50%;
}

button.stack {
    font-size: 20px;
}

header {
    background-color: #fff;
    width: 100%;
}

