<div class="game-board">

  <table id="board">
    <tr>
      <td class="top left" ng-click="move(0)">{{fillAt(0)}}</td>
      <td class="top mid" ng-click="move(1)">{{fillAt(1)}}</td>
      <td class="top right" ng-click="move(2)">{{fillAt(2)}}</td>
    </tr>
     <tr>
      <td class="center left" ng-click="move(3)">{{fillAt(3)}}</td>
      <td class="center mid" ng-click="move(4)">{{fillAt(4)}}</td>
      <td class="center right" ng-click="move(5)">{{fillAt(5)}}</td>
    </tr>
     <tr>
      <td class="bottom left" ng-click="move(6)">{{fillAt(6)}}</td>
      <td class="bottom mid" ng-click="move(7)">{{fillAt(7)}}</td>
      <td class="bottom right" ng-click="move(8)">{{fillAt(8)}}</td>
    </tr>
  </table>
   <div>
      <button  class="btn btn-block stack" ng-click="newGame()">New Game</button>
      <h3 class="text-center stack" ng-show="winner">{{winner}} wins!! <i class="fa fa-meh-o"></i></h3>
      <h3 ng-show="tie" class="text-center stack">{{tie}} <i class="fa fa-meh-o"></i></h3>
  </div>

</div>
